<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <title>Views</title>
</head>
<body>
    <form action="/create-form-data" method="post">
        <input type="text" name="firstname" id="firstname" placeholder="First name">
        <input  type="text" name="lastname" id="lastname" placeholder="Last name">
        <textarea type="text" name="message" id="message" cols="30" rows="10"></textarea>
        <button type="submit" value="Send">Send</button>
    </form>
</body>
</html>